<p-toast 
  position="top-right"
  [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}">
</p-toast>

<div class="grid p-fluid p-formgrid" *ngIf="nfseData">
  <div class="col-12">
    <div class="p-inputtext p-component p-element">
      <h3
        class="text-center"
        [ngStyle]="{
          backgroundColor: 'var(--cyan-800)',
          color: 'var(--primary-color-text)',
          borderRadius: 'var(--border-radius)'
        }"
      >
        EMISSÃO DE NOTA FISCAL
      </h3>

      <div class="grid p-fluid p-formgrid p-3">

        <!----------------------------------------- DATAS ----------------------------------------->
        <!----------------------------------------- DATAS ----------------------------------------->
        <!----------------------------------------- DATAS ----------------------------------------->
        <!----------------------------------------- DATAS ----------------------------------------->
        <!----------------------------------------- DATAS ----------------------------------------->
        <!----------------------------------------- DATAS ----------------------------------------->
        <div class="card col-12 md:col-3">
          <h5
          h5 class="text-center mb-5"
          [ngStyle]="{
            backgroundColor: 'var(--cyan-800)',
            color: 'var(--primary-color-text)',
            borderRadius: 'var(--border-radius)'
          }">
        
         DATAS
        </h5>
          <div class="grid gap-12">
            <!-- Data de Emissão -->
            <div class="field col-12 md:col-6">
              <span class="p-float-label">
                <input
                  id="dataEmissao"
                  type="date"
                  pInputText
                  class="p-inputtext p-component p-element p-filled"
                  [(ngModel)]="nfseData.dataEmissao"
                  name="dataEmissao"
                />
                <label for="dataEmissao">Data de Emissão</label>
              </span>
            </div>
        
            <!-- Competência -->
            <div class="field col-12 md:col-6">
              <span class="p-float-label">
                <input
                  id="competencia"
                  type="date"
                  pInputText
                  class="p-inputtext p-component p-element p-filled"
                  [(ngModel)]="nfseData.competencia"
                  name="competencia"
                />
                <label for="competencia">Competência</label>
              </span>
            </div>
          </div>
        </div>


        <!----------------------------------------- LOCALIZAÇÃO ----------------------------------------->
        <!----------------------------------------- LOCALIZAÇÃO ----------------------------------------->
        <!----------------------------------------- LOCALIZAÇÃO ----------------------------------------->
        <!----------------------------------------- LOCALIZAÇÃO ----------------------------------------->
        <!----------------------------------------- LOCALIZAÇÃO ----------------------------------------->
        <!----------------------------------------- LOCALIZAÇÃO ----------------------------------------->

        <div class="card col-12 md:col-9">
          <h5 class="text-center mb-5" 
              [ngStyle]="{
                backgroundColor: 'var(--cyan-800)',
                color: 'var(--primary-color-text)',
                borderRadius: 'var(--border-radius)'
              }">
            LOCALIZAÇÃO
          </h5>
          <div class="grid gap-12">
            <!-- UF Prestação -->
            <div class="field col-12 md:col-2">
              <span class="p-float-label">
                <p-dropdown id="ufPrestacao"
                            [options]="ufs" 
                            [(ngModel)]="ufSelecionadaPrestacao"
                            (onChange)="filtrarCidadesPrestacao($event.value)"
                            styleClass="w-full">
                  <ng-template pTemplate="item" let-uf>
                    {{ uf }}
                  </ng-template>
                </p-dropdown>
                <label for="ufPrestacao">UF</label>
              </span>
            </div>
        
            <!-- Cidade Prestação -->
            <div class="field col-12 md:col-4">
              <span class="p-float-label">
                <p-dropdown id="municipioPrestacao"
                            [options]="filteredCidadesPrestacao" 
                            [(ngModel)]="selectedCidadePrestacao"
                            optionLabel="NOME_CIDADE"
                            [disabled]="!ufSelecionadaPrestacao"
                            styleClass="w-full">
                  <ng-template pTemplate="item" let-cidade>
                    <span class="block whitespace-nowrap">{{ cidade.NOME_CIDADE }}</span>
                  </ng-template>
                </p-dropdown>
                <label for="municipioPrestacao">Cidade Prestação</label>
              </span>
            </div>
        
            <!-- UF Incidência -->
            <div class="field col-12 md:col-2">
              <span class="p-float-label">
                <p-dropdown id="ufIncidencia"
                            [options]="ufs" 
                            [(ngModel)]="ufSelecionadaIncidencia"
                            (onChange)="filtrarCidadesIncidencia($event.value)"
                            styleClass="w-full">
                  <ng-template pTemplate="item" let-uf>
                    {{ uf }}
                  </ng-template>
                </p-dropdown>
                <label for="ufIncidencia">UF</label>
              </span>
            </div>
        
            <!-- Cidade Incidência -->
            <div class="field col-12 md:col-4">
              <span class="p-float-label">
                <p-dropdown id="municipioIncidencia"
                            [options]="filteredCidadesIncidencia" 
                            [(ngModel)]="selectedCidadeIncidencia"
                            optionLabel="NOME_CIDADE"
                            [disabled]="!ufSelecionadaIncidencia"
                            styleClass="w-full">
                  <ng-template pTemplate="item" let-cidade>
                    <span class="block whitespace-nowrap">{{ cidade.NOME_CIDADE }}</span>
                  </ng-template>
                </p-dropdown>
                <label for="municipioIncidencia">Cidade Incidência</label>
              </span>
            </div>
          </div>
        </div>


        <!----------------------------------------- TOMADOR ----------------------------------------->
        <!----------------------------------------- TOMADOR ----------------------------------------->
        <!----------------------------------------- TOMADOR ----------------------------------------->
        <!----------------------------------------- TOMADOR ----------------------------------------->
        <!----------------------------------------- TOMADOR ----------------------------------------->
        <!----------------------------------------- TOMADOR ----------------------------------------->

        <div class="card p-3">
          <h5 class="text-center mb-5" 
              [ngStyle]="{
                backgroundColor: 'var(--cyan-800)',
                color: 'var(--primary-color-text)',
                borderRadius: 'var(--border-radius)'
              }">
            TOMADOR
          </h5>
          
          <!-- Checkbox para Tomador do Exterior -->
              <div class="field-checkbox mb-6">
                <p-checkbox [(ngModel)]="tomadorExterior" name="tomadorExterior" 
                            (onChange)="toggleTomadorExterior()" 
                            binary="true" inputId="tomadorExterior"></p-checkbox>
                <label for="tomadorExterior">Tomador do Exterior</label>
              </div>
        
          <!-- Seção de Dados Pessoais - Mostrar campos normais ou exterior conforme checkbox -->
              <div *ngIf="!tomadorExterior">
                <div class="grid gap-12">
                  <!-- CPF/CNPJ -->
                  <div class="field col-12 md:col-3">
                    <span class="p-float-label">
                      <input
                        id="tomadorCpfCnpj"
                        type="text"
                        pInputText
                        class="p-inputtext p-component p-element p-filled"
                        mask="000.000.000-00 || 00.000.000/0000-00"
                        [ngModel]="nfseData.tomador.identificacao.cpf || nfseData.tomador.identificacao.cnpj"
                        (ngModelChange)="formatarCpfCnpj($event)"
                        name="tomadorCpfCnpj"
                        (keydown.enter)="buscarPorCpf(nfseData.tomador.identificacao.cpf || nfseData.tomador.identificacao.cnpj)"
                      />
                      <label for="tomadorCpfCnpj">CPF/CNPJ</label>
                    </span>
                  </div>
            
                  <div class="field col-12 md:col-3">
                    <span class="p-float-label">
                      <input
                        id="tomadorInscricaoMunicipal"
                        type="text"
                        pInputText
                        class="p-inputtext p-component p-element p-filled"
                        [(ngModel)]="nfseData.tomador.identificacao.inscricaoMunicipal"
                        name="tomadorInscricaoMunicipal"
                      />
                      <label for="tomadorInscricaoMunicipal">Inscrição Municipal</label>
                    </span>
                  </div>
              
                  <!-- Razão Social -->
                  <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                      <input
                        id="tomadorRazaoSocial"
                        type="text"
                        pInputText
                        class="p-inputtext p-component p-element p-filled"
                        [(ngModel)]="nfseData.tomador.razaoSocial"
                        name="tomadorRazaoSocial"
                      />
                      <label for="tomadorRazaoSocial">Razão Social</label>
                    </span>
                  </div>
              
                  <!-- Contatos -->
                  <div class="field col-12 md:col-4">
                    <span class="p-float-label">
                      <input
                        id="tomadorEmail"
                        type="text"
                        pInputText
                        class="p-inputtext p-component p-element p-filled"
                        [(ngModel)]="nfseData.tomador.contato.email"
                        name="tomadorEmail"
                      />
                      <label for="tomadorEmail">E-mail</label>
                    </span>
                  </div>
              
                  <div class="field col-12 md:col-3">
                    <span class="p-float-label">
                      <input
                        id="tomadorTelefone"
                        type="text"
                        pInputText
                        class="p-inputtext p-component p-element p-filled"
                        mask="00 0 0000-0000"
                        [(ngModel)]="nfseData.tomador.contato.telefone"
                        name="tomadorTelefone"
                      />
                      <label for="tomadorTelefone">Celular</label>
                    </span>
                  </div>
                </div>
              
                <!-- Seção de Endereço -->
                <h5 class="text-center mb-5 mt-5" 
                    [ngStyle]="{
                      backgroundColor: 'var(--cyan-800)',
                      color: 'var(--primary-color-text)',
                      borderRadius: 'var(--border-radius)'
                    }">
                  ENDEREÇO
                </h5>
                
                <div class="grid gap-12 mb-5 mt-5">
                  <!-- CEP -->
                  <div class="field col-12 md:col-2">
                    <span class="p-float-label">
                      <input
                        id="tomadorCep"
                        type="text"
                        pInputText
                        class="p-inputtext p-component p-element p-filled"
                        mask="00000-000"
                        [(ngModel)]="nfseData.tomador.endereco.cep"
                        name="tomadorCep"
                        (blur)="buscarEnderecoPorCEP(nfseData.tomador.endereco.cep)"
                      />
                      <label for="tomadorCep">CEP</label>
                    </span>
                  </div>
              
                  <!-- Logradouro -->
                  <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                      <input
                        id="tomadorLogradouro"
                        type="text"
                        pInputText
                        class="p-inputtext p-component p-element p-filled"
                        [(ngModel)]="nfseData.tomador.endereco.endereco"
                        name="tomadorLogradouro"
                      />
                      <label for="tomadorLogradouro">Logradouro</label>
                    </span>
                  </div>
              
                  <!-- Número -->
                  <div class="field col-12 md:col-1">
                    <span class="p-float-label">
                      <input
                        id="tomadorNumero"
                        type="text"
                        pInputText
                        class="p-inputtext p-component p-element p-filled"
                        [(ngModel)]="nfseData.tomador.endereco.numero"
                        name="tomadorNumero"
                      />
                      <label for="tomadorNumero">Número</label>
                    </span>
                  </div>
              
                  <!-- Bairro -->
                  <div class="field col-12 md:col-3">
                    <span class="p-float-label">
                      <input
                        id="tomadorBairro"
                        type="text"
                        pInputText
                        class="p-inputtext p-component p-element p-filled"
                        [(ngModel)]="nfseData.tomador.endereco.bairro"
                        name="tomadorBairro"
                      />
                      <label for="tomadorBairro">Bairro</label>
                    </span>
                  </div>
              
                  <!-- Complemento -->
                  <div class="field col-12 md:col-3">
                    <span class="p-float-label">
                      <input
                        id="tomadorComplemento"
                        type="text"
                        pInputText
                        class="p-inputtext p-component p-element p-filled"
                        [(ngModel)]="nfseData.tomador.endereco.complemento"
                        name="tomadorComplemento"
                      />
                      <label for="tomadorComplemento">Complemento</label>
                    </span>
                  </div>
            
                  <input type="hidden" [(ngModel)]="nfseData.tomador.endereco.codigoMunicipio" name="tomadorCodigoMunicipio">
            
                  <!-- Cidade - Campo visível para seleção -->
                  <div class="field col-12 md:col-3">
                    <span class="p-float-label">
                      <input
                        id="tomadorCidade"
                        type="text"
                        pInputText
                        class="p-inputtext p-component p-element p-filled"
                        [(ngModel)]="nomeCidadeTomador"
                        name="tomadorCidade"
                        readonly
                      />
                      <label for="tomadorCidade">Cidade</label>
                    </span>
                  </div>
              
                  <!-- UF -->
                  <div class="field col-12 md:col-1">
                    <span class="p-float-label">
                      <input
                        id="tomadorUf"
                        type="text"
                        pInputText
                        class="p-inputtext p-component p-element p-filled"
                        [(ngModel)]="nfseData.tomador.endereco.uf"
                        (ngModelChange)="atualizarCidadesTomador()"
                        name="tomadorUf"
                        maxlength="2"
                      />
                      <label for="tomadorUf">UF</label>
                    </span>
                  </div>
                </div>
              </div>
        
          <!-- Campos para Tomador do Exterior -->
                <div *ngIf="tomadorExterior">
                  <div class="custom-gap-12 grid">
                    <!-- NIF (Número de Identificação Fiscal) -->
                    <div class="field col-12 md:col-4">
                      <span class="p-float-label">
                        <input
                          id="tomadorNif"
                          type="text"
                          pInputText
                          class="p-inputtext p-component p-element p-filled"
                          [(ngModel)]="nfseData.tomador.nifTomador"
                          name="tomadorNif"
                        />
                        <label for="tomadorNif">NIF (Identificação Fiscal)</label>
                      </span>
                    </div>

                    <!-- Razão Social -->
                    <div class="field col-12 md:col-8">
                      <span class="p-float-label">
                        <input
                          id="tomadorRazaoSocialExterior"
                          type="text"
                          pInputText
                          class="p-inputtext p-component p-element p-filled"
                          [(ngModel)]="nfseData.tomador.razaoSocial"
                          name="tomadorRazaoSocialExterior"
                        />
                        <label for="tomadorRazaoSocialExterior">Razão Social</label>
                      </span>
                    </div>

                    <!-- Contatos -->
                    <div class="field col-12 md:col-4">
                      <span class="p-float-label">
                        <input
                          id="tomadorEmailExterior"
                          type="text"
                          pInputText
                          class="p-inputtext p-component p-element p-filled"
                          [(ngModel)]="nfseData.tomador.contato.email"
                          name="tomadorEmailExterior"
                        />
                        <label for="tomadorEmailExterior">E-mail</label>
                      </span>
                    </div>

                    <div class="field col-12 md:col-3">
                      <span class="p-float-label">
                        <input
                          id="tomadorTelefone"
                          type="text"
                          pInputText
                          class="p-inputtext p-component p-element p-filled"
                          mask="00 0 0000-0000"
                          [(ngModel)]="nfseData.tomador.contato.telefone"
                          name="tomadorTelefone"
                        />
                        <label for="tomadorTelefone">Celular</label>
                      </span>
                    </div>
                  </div>

                  <!-- Seção de Endereço Exterior -->
                  <h5 class="text-center mb-5 mt-5" 
                      [ngStyle]="{
                        backgroundColor: 'var(--cyan-800)',
                        color: 'var(--primary-color-text)',
                        borderRadius: 'var(--border-radius)'
                      }">
                    ENDEREÇO NO EXTERIOR
                  </h5>
                  
                  <div class="grid gap-12">
                    <!-- Código do País -->
                    <div class="field col-12 md:col-4">
                      <span class="p-float-label">
                        <input
                          id="tomadorCodigoPais"
                          type="text"
                          pInputText
                          class="p-inputtext p-component p-element p-filled"
                          [(ngModel)]="nfseData.tomador.enderecoExterior.codigoPais"
                          name="tomadorCodigoPais"
                        />
                        <label for="tomadorCodigoPais">Código do País</label>
                      </span>
                    </div>

                    <!-- Endereço Completo -->
                    <div class="field col-12 md:col-8">
                      <span class="p-float-label">
                        <input
                          id="tomadorEnderecoCompleto"
                          type="text"
                          pInputText
                          class="p-inputtext p-component p-element p-filled"
                          [(ngModel)]="nfseData.tomador.enderecoExterior.enderecoCompletoExterior"
                          name="tomadorEnderecoCompleto"
                        />
                        <label for="tomadorEnderecoCompleto">Endereço Completo</label>
                      </span>
                    </div>
                  </div>
              </div> 
          </div>

      <!----------------------------------------- DESCRIÇÃO ----------------------------------------->
      <!----------------------------------------- DESCRIÇÃO ----------------------------------------->

      <div class="card p-3 field col-12 md:col-12">
      <h5 class="text-center mb-5" 
            [ngStyle]="{
              backgroundColor: 'var(--cyan-800)',
              color: 'var(--primary-color-text)',
              borderRadius: 'var(--border-radius)'
            }">
          DESCRIÇÃO
        </h5>
        <div class="grid gap-12 mt-2">

        <div class="field col-12 md:col-12">
          <span class="p-float-label">
            <textarea
              id="discriminacao"
              rows="3"
              pInputText 
              [(ngModel)]="nfseData.servico.discriminacao"
              name="discriminacao"
            ></textarea>
            <label for="discriminacao">Discriminação do Serviço</label>
          </span>
        </div>
        </div>
      </div>



        <!----------------------------------------- CÓDIGOS ----------------------------------------->
        <!----------------------------------------- CÓDIGOS ----------------------------------------->
        <!----------------------------------------- CÓDIGOS ----------------------------------------->
        <!----------------------------------------- CÓDIGOS ----------------------------------------->
        <!----------------------------------------- CÓDIGOS ----------------------------------------->
        <!----------------------------------------- CÓDIGOS ----------------------------------------->

      <div class="card p-3 field col-12 md:col-12">
        <h5 class="text-center mb-5" 
            [ngStyle]="{
              backgroundColor: 'var(--cyan-800)',
              color: 'var(--primary-color-text)',
              borderRadius: 'var(--border-radius)'
            }">
          CÓDIGOS
        </h5>
        
        <!-- Seção de Dados Pessoais -->
        <div class="grid gap-12">
<!-- Código CNAE -->
          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <p-dropdown id="codigoCnae"
                          [options]="cnaesDaEmpresa || []" 
                          [(ngModel)]="nfseData.servico.codigoCnae"
                          optionLabel="COD_CNAE"
                          optionValue="COD_CNAE"
                          [showClear]="true"
                          styleClass="w-full">
                <ng-template pTemplate="item" let-cnae>
                  <div class="flex align-items-center">
                    <span class="font-bold">{{cnae.COD_CNAE}}</span>
                    <span class="ml-2">- {{cnae.DESC_CNAE}}</span>
                  </div>
                </ng-template>
                <ng-template pTemplate="selectedItem" let-cnae>
                  <span *ngIf="cnae">{{cnae.COD_CNAE}} - {{cnae.DESC_CNAE}}</span>
                </ng-template>
              </p-dropdown>
              <label for="codigoCnae">Código CNAE</label>
            </span>
          </div>

          <!-- ITEM LC -->
          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <p-dropdown id="itemListaServico"
                          [options]="ITEMLCsDaEmpresa || []" 
                          [(ngModel)]="nfseData.servico.itemListaServico"
                          optionLabel="COD_ITEM_LC"
                          optionValue="COD_ITEM_LC"
                          [showClear]="true"
                          styleClass="w-full">
                <ng-template pTemplate="item" let-item>
                  <div class="flex align-items-center" style="max-width: 600px;">
                    <span class="font-bold">{{item.COD_ITEM_LC}}</span>
                    <span class="ml-2">- {{item.DESC_ITEM_LC}}</span>
                  </div>
                </ng-template>
                <ng-template pTemplate="selectedItem" let-item>
                  <span *ngIf="item">{{item.COD_ITEM_LC}} - {{item.DESC_ITEM_LC}}</span>
                </ng-template>
              </p-dropdown>
              <label for="itemListaServico">ITEM LC</label>
            </span>
          </div>

          <!-- Código de Tributação -->
          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <p-dropdown id="codigoTributacao"
                          [options]="codigosTributacaoDaEmpresa || []" 
                          [(ngModel)]="nfseData.servico.codigoTributacaoMunicipio"
                          optionLabel="COD_ATIVIDADE"
                          optionValue="COD_ATIVIDADE"
                          [showClear]="true"
                          styleClass="w-full">
                <ng-template pTemplate="item" let-item>
                  <div class="flex align-items-center">
                    <span class="font-bold">{{item.COD_ATIVIDADE}}</span>
                    <span class="ml-2">- {{item.DESC_ATIVIDADE}}</span>
                  </div>
                </ng-template>
                <ng-template pTemplate="selectedItem" let-item>
                  <span *ngIf="item">{{item.COD_ATIVIDADE}} - {{item.DESC_ATIVIDADE}}</span>
                </ng-template>
              </p-dropdown>
              <label for="codigoTributacao">Cód. Tributação</label>
            </span>
          </div>

        </div>
      </div>


        <!----------------------------------------- VALORES ----------------------------------------->
        <!----------------------------------------- VALORES ----------------------------------------->
        <!----------------------------------------- VALORES ----------------------------------------->
        <!----------------------------------------- VALORES ----------------------------------------->
        <!----------------------------------------- VALORES ----------------------------------------->
        

      <div class="card p-3 field col-12 md:col-12">
        <h5 class="text-center mb-5" 
              [ngStyle]="{
                backgroundColor: 'var(--cyan-800)',
                color: 'var(--primary-color-text)',
                borderRadius: 'var(--border-radius)'
              }">
            VALORES
          </h5>
          <div class="grid gap-12  mt-2">


                  <!-- EXIGIBILIDADE ISSQN -->
      <div class="field col-12 md:col-4">
        <span class="p-float-label float-label-fixed">
          <p-dropdown
            inputId="exigibilidadeISS"
            [options]="EXIGIBILIDADE_ISS"
            optionLabel="nome"
            optionValue="codigo"
            [(ngModel)]="nfseData.servico.exigibilidadeISS"
            name="exigibilidadeISS"
            placeholder="Selecione"
            required
          ></p-dropdown>
          <label for="exigibilidadeISS">EXIGIBILIDADE ISSQN</label>
        </span>
      </div>

                  
            <div class="field col-12 md:col-2">
              <span class="p-float-label">
                <input
                  id="valorServicos"
                  type="text"
                  pInputText
                  currencyMask [options]="currencyOptions"
                  [(ngModel)]="nfseData.servico.valores.valorServicos"
                  (ngModelChange)="calcularISS()"
                  (ngModelChange)="calcularValorLiquido()"
                  name="valorServicos"
                />
                <label for="valorServicos">Valor dos Serviços</label>
              </span>
            </div>

            <div class="field col-12 md:col-2">
              <span class="p-float-label">
                <input
                  id="baseCalculo"
                  type="text"
                  pInputText
                    [disabled]="true"
                  currencyMask [options]="currencyOptions"
                  [(ngModel)]="nfseData.servico.valores.baseCalculo"
                  (ngModelChange)="calcularISS()"
                  name="baseCalculo"
                />
                <label for="baseCalculo">Base de Cálculo</label>
              </span>
            </div>

            
            <div class="field col-12 md:col-2">
              <span class="p-float-label float-label-fixed">
                <input
                type="text"
                pInputText
                name="aliquota"
                mask="separator.2"
                [thousandSeparator]="''"
                [prefix]="'% '"
                [suffix]="''"
                [(ngModel)]="nfseData.servico.valores.aliquota"
                (ngModelChange)="calcularISS()"
              />
              
                <label for="aliquota">Alíquota (%)</label>
              </span>
            </div>
            
            <div class="field col-12 md:col-2">
              <span class="p-float-label">
                <input
                id="valorIss"
                type="text"
                pInputText
                [disabled]="true"
                currencyMask [options]="currencyOptions"
                [ngModel]="nfseData.servico.valores.valorIss"
                (ngModelChange)="calcularValorLiquido()"
                name="valorIss"
                readonly
              />
                <label for="valorIss">Valor do ISSQN</label>
              </span>
            </div>





        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="valorDeducoes"
              type="text"
              pInputText
              currencyMask [options]="currencyOptions"
              class="p-inputtext p-component p-element p-filled"
              [(ngModel)]="nfseData.servico.valores.valorDeducoes"
              (ngModelChange)="calcularISS()"
              name="valorDeducoes"
            />
            <label for="valorDeducoes">Dedução Base de Cálculo</label>
          </span>
        </div>

        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="descontoIncondicionado"
              type="text"
              pInputText
              currencyMask [options]="currencyOptions"
              [(ngModel)]="nfseData.servico.valores.descontoIncondicionado"
              (ngModelChange)="calcularValorLiquido()"
              (ngModelChange)="calcularISS()"
              name="descontoIncondicionado"
            />
            <label for="descontoIncondicionado">Desc. Incond.</label>
          </span>
        </div>

        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="descontoCondicionado"
              type="text"
              pInputText
              currencyMask [options]="currencyOptions"
              [(ngModel)]="nfseData.servico.valores.descontoCondicionado"
              (ngModelChange)="calcularValorLiquido()"
              name="descontoCondicionado"
            />
            <label for="descontoCondicionado">Desc. Condic.</label>
          </span>
        </div>

      <!-- ISSQN RETIDO -->
      <div class="field col-12 md:col-2">
        <span class="p-float-label float-label-fixed">
          <p-dropdown
          inputId="issRetido"
          [options]="ISSQN_RETIDO"
          optionLabel="nome"
          optionValue="codigo"
          [(ngModel)]="nfseData.servico.issRetido"
          (onChange)="onIssRetidoChange($event.value)"
          name="issRetido"
          placeholder="Selecione"
          required
        ></p-dropdown>
          <label for="issRetido">ISSQN RETIDO</label>
        </span>
      </div>

      <!-- RESPONSÁVEL RETENÇÃO (required if issRetido == '1') -->
      <div class="field col-12 md:col-2">
        <span class="p-float-label float-label-fixed">
          <p-dropdown
            inputId="responsavelRetencao"
            [options]="RESPONSAVEL_RETENCAO"
            optionLabel="nome"
            optionValue="codigo"
            [(ngModel)]="nfseData.servico.responsavelRetencao"
            [disabled]="nfseData.servico.issRetido !== '1'"
            [required]="nfseData.servico.issRetido === '1'"
            [ngClass]="{ 'dropdown-disabled': nfseData.servico.issRetido !== '1' }"
            name="responsavelRetencao"
            placeholder="Selecione"
          ></p-dropdown>
          <label for="responsavelRetencao">RESPONSÁVEL RETENÇÃO</label>
        </span>
      </div>


      <div class="field col-12 md:col-2">
        <span class="p-float-label">
          <input
            id="ValorLiquido"
            type="text"
            pInputText
            disabled
            currencyMask [options]="currencyOptions"
            [(ngModel)]="nfseData.servico.valores.valorLiquido"
            name="ValorLiquido"
          />
          <label for="ValorLiquido">Valor Líquido</label>
        </span>
      </div>

      <p-inputText
      [value]="'R$ ' + nfseData.servico.valores.valorLiquido"
      readonly="true"
      label="Valor Líquido">
    </p-inputText>


    <div class="field col-12 md:col-12"> 
      <h5 class="text-center" 
              [ngStyle]="{
                backgroundColor: 'var(--cyan-800)',
                color: 'var(--primary-color-text)',
                borderRadius: 'var(--border-radius)'
              }">
            RETENÇÕES
          </h5>
    </div>
        

        
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="valorPis"
              type="text"
              pInputText
              currencyMask [options]="currencyOptions"
              class="p-inputtext p-component p-element p-filled"
              [(ngModel)]="nfseData.servico.valores.valorPis"
              (ngModelChange)="calcularValorLiquido()"
              name="valorPis"
            />
            <label for="valorPis">Valor PIS</label>
          </span>
        </div>
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="valorCofins"
              type="text"
              pInputText
              currencyMask [options]="currencyOptions"
              class="p-inputtext p-component p-element p-filled"
              [(ngModel)]="nfseData.servico.valores.valorCofins"
              (ngModelChange)="calcularValorLiquido()"
              name="valorCofins"
            />
            <label for="valorCofins">Valor COFINS</label>
          </span>
        </div>
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="valorInss"
              type="text"
              pInputText
              currencyMask [options]="currencyOptions"
              class="p-inputtext p-component p-element p-filled"
              [(ngModel)]="nfseData.servico.valores.valorInss"
              (ngModelChange)="calcularValorLiquido()"
              name="valorInss"
            />
            <label for="valorInss">Valor INSS</label>
          </span>
        </div>
      

        <!-- IR, CSLL e Outras Retenções -->
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="valorIr"
              type="text"
              pInputText
              currencyMask [options]="currencyOptions"
              [(ngModel)]="nfseData.servico.valores.valorIr"
              (ngModelChange)="calcularValorLiquido()"
              name="valorIr"
            />
            <label for="valorIr">Valor IR</label>
          </span>
        </div>

        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="valorCsll"
              type="text"
              pInputText
              currencyMask [options]="currencyOptions"
              [(ngModel)]="nfseData.servico.valores.valorCsll"
              (ngModelChange)="calcularValorLiquido()"
              name="valorCsll"
            />
            <label for="valorCsll">Valor CSLL</label>
          </span>
        </div>

        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="outrasRetencoes"
              type="text"
              pInputText
              currencyMask [options]="currencyOptions"
              [(ngModel)]="nfseData.servico.valores.outrasRetencoes"
              (ngModelChange)="calcularValorLiquido()"
              name="outrasRetencoes"
            />
            <label for="outrasRetencoes">Outras Retenções</label>
          </span>
        </div>
      </div>
    </div>
  

        <div class="card p-3 field col-12 md:col-12">
          <h5 class="text-center mb-3" 
                [ngStyle]="{
                  backgroundColor: 'var(--cyan-800)',
                  color: 'var(--primary-color-text)',
                  borderRadius: 'var(--border-radius)'
                }">
              INFORMAÇÕES COMPLEMENTARES
            </h5>
            <div class="grid gap-12 mt-2">
    
            <div class="field col-12 md:col-12">
              <span class="p-float-label">
                <textarea
                  id="informacoesComplementares"
                  rows="1"
                  pInputText 
                  [(ngModel)]="nfseData.informacoesComplementares"
                  name="informacoesComplementares"
                ></textarea>
                <label for="informacoesComplementares">Informações Complementares</label>
              </span>
            </div>
            </div>
          </div>

        <!-- Botão de envio -->
        <div class="field col-12 md:col-2">
          <p-button
            icon="pi pi-check"
            severity="success" 
            label="Emitir NFSe"
            (click)="onSubmit()"
            [loading]="loading"
          ></p-button>
        </div>
      </div>
    </div>
  </div>