<div class="grid" *ngIf="nfseData">
  <div class="col-12">
    <div class="p-inputtext p-component p-element">
      <h3
        class="text-center"
        [ngStyle]="{
          backgroundColor: 'var(--cyan-800)',
          color: 'var(--primary-color-text)',
          borderRadius: 'var(--border-radius)'
        }"
      >
        EMISSÃO DE NOTA FISCAL
      </h3>

      <div class="p-fluid p-formgrid grid" style="margin-top: 20px">

        <div class="card p-3">
          <h3>Datas</h3>
          <div class="grid gap-3">
            <!-- Data de Emissão -->
            <div class="field col-12 md:col-4">
              <span class="p-float-label">
                <input
                  id="dataEmissao"
                  type="date"
                  pInputText
                  class="p-inputtext p-component p-element p-filled"
                  [(ngModel)]="nfseData.dataEmissao"
                  name="dataEmissao"
                />
                <label for="dataEmissao">Data de Emissão</label>
              </span>
            </div>
        
            <!-- Competência -->
            <div class="field col-12 md:col-4">
              <span class="p-float-label">
                <input
                  id="competencia"
                  type="date"
                  pInputText
                  class="p-inputtext p-component p-element p-filled"
                  [(ngModel)]="nfseData.competencia"
                  name="competencia"
                />
                <label for="competencia">Competência</label>
              </span>
            </div>
          </div>
        </div>

        <!-- Valor dos Serviços -->
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="valorServicos"
              type="text"
              pInputText
              class="p-inputtext p-component p-element p-filled"
              [(ngModel)]="nfseData.servico.valores.valorServicos"
              name="valorServicos"
            />
            <label for="valorServicos">Valor dos Serviços</label>
          </span>
        </div>

        <!-- Campos de deduções -->
        <h6 class="col-12 mt-4">Deduções</h6>
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="valorDeducoes"
              type="text"
              pInputText
              class="p-inputtext p-component p-element p-filled"
              [(ngModel)]="nfseData.servico.valores.valorDeducoes"
              name="valorDeducoes"
            />
            <label for="valorDeducoes">Valor Deduções</label>
          </span>
        </div>
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="valorPis"
              type="text"
              pInputText
              class="p-inputtext p-component p-element p-filled"
              [(ngModel)]="nfseData.servico.valores.valorPis"
              name="valorPis"
            />
            <label for="valorPis">Valor PIS</label>
          </span>
        </div>
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="valorCofins"
              type="text"
              pInputText
              class="p-inputtext p-component p-element p-filled"
              [(ngModel)]="nfseData.servico.valores.valorCofins"
              name="valorCofins"
            />
            <label for="valorCofins">Valor COFINS</label>
          </span>
        </div>
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="valorInss"
              type="text"
              pInputText
              class="p-inputtext p-component p-element p-filled"
              [(ngModel)]="nfseData.servico.valores.valorInss"
              name="valorInss"
            />
            <label for="valorInss">Valor INSS</label>
          </span>
        </div>

        <!-- Campos do tomador do serviço -->
        <h6 class="col-12 mt-4">Tomador do Serviço</h6>
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="tomadorCpfCnpj"
              type="text"
              pInputText
              class="p-inputtext p-component p-element p-filled"
              [ngModel]="nfseData.tomador.identificacao.cpf || nfseData.tomador.identificacao.cnpj"
              (ngModelChange)="formatarCpfCnpj($event)"
              name="tomadorCpfCnpj"
            />
            <label for="tomadorCpfCnpj">CPF/CNPJ</label>
          </span>
        </div>
        <div class="field col-12 md:col-3">
          <span class="p-float-label">
            <input
              id="tomadorRazaoSocial"
              type="text"
              pInputText
              class="p-inputtext p-component p-element p-filled"
              [(ngModel)]="nfseData.tomador.razaoSocial"
              name="tomadorRazaoSocial"
            />
            <label for="tomadorRazaoSocial">Razão Social</label>
          </span>
        </div>
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="tomadorEndereco"
              type="text"
              pInputText
              class="p-inputtext p-component p-element p-filled"
              [(ngModel)]="nfseData.tomador.endereco.endereco"
              name="tomadorEndereco"
            />
            <label for="tomadorEndereco">Endereço</label>
          </span>
        </div>
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="tomadorCep"
              type="text"
              pInputText
              class="p-inputtext p-component p-element p-filled"
              [(ngModel)]="nfseData.tomador.endereco.cep"
              name="tomadorCep"
            />
            <label for="tomadorCep">CEP</label>
          </span>
        </div>
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="tomadoremail"
              type="text"
              pInputText
              class="p-inputtext p-component p-element p-filled"
              [(ngModel)]="nfseData.tomador.contato.email"
              name="tomadoremail"
            />
            <label for="tomadoremail">Email</label>
          </span>
        </div>

        <!-- Código CNAE -->
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="codigoCnae"
              type="text"
              pInputText
              [(ngModel)]="nfseData.servico.codigoCnae"
              name="codigoCnae"
            />
            <label for="codigoCnae">Código CNAE</label>
          </span>
        </div>

        <!-- Código de Tributação -->
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="codigoTributacao"
              type="text"
              pInputText
              [(ngModel)]="nfseData.servico.codigoTributacaoMunicipio"
              name="codigoTributacao"
            />
            <label for="codigoTributacao">Cód. Tributação</label>
          </span>
        </div>

        <!-- Discriminação do Serviço -->
        <div class="field col-12">
          <span class="p-float-label">
            <textarea
              id="discriminacao"
              rows="3"
              pInputTextarea
              [(ngModel)]="nfseData.servico.discriminacao"
              name="discriminacao"
            ></textarea>
            <label for="discriminacao">Discriminação do Serviço</label>
          </span>
        </div>

        <!-- Código do Município -->
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="codigoMunicipio"
              type="text"
              pInputText
              [(ngModel)]="nfseData.servico.codigoMunicipio"
              name="codigoMunicipio"
            />
            <label for="codigoMunicipio">Cód. Município</label>
          </span>
        </div>

        <!-- Município de Incidência -->
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="municipioIncidencia"
              type="text"
              pInputText
              [(ngModel)]="nfseData.servico.municipioIncidencia"
              name="municipioIncidencia"
            />
            <label for="municipioIncidencia">Mun. Incidência</label>
          </span>
        </div>

        <!-- IR, CSLL e Outras Retenções -->
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="valorIr"
              type="text"
              pInputText
              [(ngModel)]="nfseData.servico.valores.valorIr"
              name="valorIr"
            />
            <label for="valorIr">Valor IR</label>
          </span>
        </div>

        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="valorCsll"
              type="text"
              pInputText
              [(ngModel)]="nfseData.servico.valores.valorCsll"
              name="valorCsll"
            />
            <label for="valorCsll">Valor CSLL</label>
          </span>
        </div>

        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="outrasRetencoes"
              type="text"
              pInputText
              [(ngModel)]="nfseData.servico.valores.outrasRetencoes"
              name="outrasRetencoes"
            />
            <label for="outrasRetencoes">Outras Retenções</label>
          </span>
        </div>

        <!-- Alíquota e Descontos -->
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="aliquota"
              type="text"
              pInputText
              [(ngModel)]="nfseData.servico.valores.aliquota"
              name="aliquota"
            />
            <label for="aliquota">Alíquota (%)</label>
          </span>
        </div>

        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="descontoIncondicionado"
              type="text"
              pInputText
              [(ngModel)]="nfseData.servico.valores.descontoIncondicionado"
              name="descontoIncondicionado"
            />
            <label for="descontoIncondicionado">Desc. Incond.</label>
          </span>
        </div>

        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input
              id="descontoCondicionado"
              type="text"
              pInputText
              [(ngModel)]="nfseData.servico.valores.descontoCondicionado"
              name="descontoCondicionado"
            />
            <label for="descontoCondicionado">Desc. Condic.</label>
          </span>
        </div>

        <!-- Informações Complementares -->
        <div class="field col-12">
          <span class="p-float-label">
            <textarea
              id="informacoesComplementares"
              rows="2"
              pInputTextarea
              [(ngModel)]="nfseData.informacoesComplementares"
              name="informacoesComplementares"
            ></textarea>
            <label for="informacoesComplementares">Informações Complementares</label>
          </span>
        </div>

        <!-- Botão de envio -->
        <div class="field col-12">
          <p-button
            icon="pi pi-check"
            label="Emitir NFSe"
            (click)="onSubmit()"
            [loading]="loading"
          ></p-button>
        </div>
      </div>
    </div>
  </div>
</div>