<style>
    .layout-topbar-menu .user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha à esquerda */
    line-height: 1.2; /* Ajusta o espaçamento entre as linhas */
}

.layout-topbar-menu .user-name {
    font-weight: bold; /* Destaca o nome do usuário */
}

.layout-topbar-menu .empresa-nome {
    font-size: 0.9rem; /* Um pouco menor que o nome do usuário */
    color: #888; /* Cor mais discreta */
}
</style>
<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/dashboard">
        <img src="https://i.postimg.cc/MHd8QVrG/logo.png" alt="logo">
        <span>MP SOFTWARE</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div class="layout-topbar-menu">
        <div class="user-info">
            <span class="user-name">Bem-vindo, {{ userName }}!</span>
            <span class="empresa-nome" *ngIf="empresaNome">Empresa: {{ empresaNome }}</span>
        </div>
    </div>

    <div #topbarmenu class="layout-topbar-left" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button" (click)="abrirDialogEditarPerfil()">
            <i class="pi pi-user-edit"></i>
            <span>Editar Perfil</span>
        </button>
        <button class="p-link layout-topbar-button" (click)="onLogout()">
            <i class="pi pi-sign-out"></i>
            <span>Logout</span>
        </button>
    </div>
    <p-dialog header="Editar Perfil" [(visible)]="dialogEditarPerfil" [modal]="true" [style]="{width: '60vw'}"  appendTo="body">

                        <div class="p-fluid p-formgrid grid" style="margin-top: 20px">
                
                                <!-- Campo Nome -->
                                <div class="field col-12 md:col-4">
                                    <span class="p-float-label float-label-fixed">
                                        
                                        <input id="resultado-nome" type="text" pinputtext="" class="p-inputtext p-component p-element"
                                            [ngClass]="{ 'p-filled': !editMode }"
                                            [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                                            [(ngModel)]="resultado.NOME" name="Nome" [readonly]="!editMode">
                                            <label for="resultado-nome">Nome</label>
                                    </span>
                                </div> 
                
                                <!-- Campo E-mail -->
                                <div class="field col-12 md:col-4">
                                    <span class="p-float-label float-label-fixed">
                                        
                                        <input id="resultado-email" type="text" pinputtext="" class="p-inputtext p-component p-element"
                                            [ngClass]="{ 'p-filled': !editMode }"
                                            [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                                            [(ngModel)]="resultado.EMAIL" name="E-mail" [readonly]="!editMode">
                                            <label for="resultado-email">E-mail</label>
                                    </span>
                                </div>

               
                                <!-- Campo Senha -->
                                <div class="field col-12 md:col-2">
                                    <span class="p-float-label float-label-fixed">
                                    
                                        <input id="resultado-senha" type="password" pinputtext="" class="p-inputtext p-component p-element"
                                            [ngClass]="{ 'p-filled': !editMode }"
                                            [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                                            [(ngModel)]="resultado.SENHA" name="Senha" [readonly]="!editMode">
                                            <label for="resultado-senha">Senha</label>
                                    </span>
                                </div>
                
                                <!-- Botões Editar, Salvar e Excluir -->
                                <div class="btn-group field col-12 md:col-2 flex flex-wrap gap-3" role="group" aria-label="Edit group">
                                    <label for=""></label>
                                    <p-button *ngIf="!editMode" icon="pi pi-pencil" severity="info" (click)="editarUsuario()"></p-button>
                                    <p-button *ngIf="editMode" icon="pi pi-save" severity="success" (click)="salvarUsuario()"></p-button>
                                    <p-button *ngIf="editMode" icon="pi pi-times" severity="warning" (click)="cancelarEdicao()"></p-button>
                                    <p-button *ngIf="!editMode" icon="pi pi-trash" severity="danger" (click)="confirmarExclusao()"></p-button>
                                </div>
                            </div>
    </p-dialog>
</div>
