<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
<div class="grid" *ngIf="novoUsuario">
    <div class="col-12">
        <div *ngIf="!resultado" class="p-inputtext p-component p-element">


    <!-- Formulário de consulta CPF e nome -->
    <h3 class="text-center" [ngStyle]="{backgroundColor:'var(--cyan-800)', color: 'var(--primary-color-text)', borderRadius: 'var(--border-radius)'}">
        CONSULTAR USUÁRIO
    </h3>
    <form (ngSubmit)="buscarUsuario()"> <!-- Envolva tudo no formulário -->
        <div class="p-fluid p-formgrid grid" style="margin-top: 20px">
            <!-- Campo de CPF -->
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input id="cpf-input" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" 
                           mask="000.000.000-00" [(ngModel)]="CPF" name="CPF" (keydown.enter)="buscarUsuario()">
                    <label for="cpf-input">CPF</label>
                </span>
            </div>
    
            <!-- Campo de Nome -->
            <div class="field col-12 md:col-7">
                <span class="p-float-label">
                    <input id="nome-input" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" 
                           [(ngModel)]="nome" name="NOME" (keydown.enter)="buscarUsuario()">
                    <label for="nome-input">Nome</label>
                </span>
            </div>
    
            <!-- Botão de busca -->
            <div class="btn-group field col-12 md:col-1 flex flex-wrap gap-3" role="group" aria-label="Third group">
                <p-button icon="pi pi-search" severity="success" (click)="buscarUsuario()"></p-button>
            </div>
        </div>
    </form>
        </div>

        <div *ngIf="usuariosEncontrados.length > 0" class="p-inputtext p-component p-element" style="margin-top: 20px;">
            <h3 class="text-center" [ngStyle]="{backgroundColor:'var(--cyan-800)', color: 'var(--primary-color-text)', borderRadius: 'var(--border-radius)'}">
                SELECIONAR USUÁRIO
            </h3>
            <p-table
                [value]="usuariosEncontrados"
                [paginator]="true"
                [rows]="5"
                [tableStyle]="{ 'min-width': '50rem' }"
                [rowsPerPageOptions]="[5, 10, 20]"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th class="field col-12 md:col-4">CPF</th> <!-- Usando grid aqui -->
                        <th class="field col-12 md:col-7">Nome</th> <!-- Ajustando com 'md:col-x' -->
                        <th class="field col-12 md:col-1">Ação</th> <!-- Coluna menor para ação -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usuario>
                    <tr>
                        <td>{{ usuario.CPF | mask: '000.000.000-00' }}</td>
                        <td>{{ usuario.NOME }}</td>
                        <td>
                            <p-button icon="pi pi-check" severity="success" (click)="selecionarUsuario(usuario)"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div *ngIf="resultado" class="p-inputtext p-component p-element">
            <h3 class="text-center" [ngStyle]="{backgroundColor:'var(--cyan-800)', color: 'var(--primary-color-text)', borderRadius: 'var(--border-radius)'}">
                DADOS PRELIMINARES
            </h3>
            <p-tabView>
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <div class="custom-tab-header">
                            Dados do Usuário
                        </div>
                    </ng-template>
                        <div class="p-fluid p-formgrid grid" style="margin-top: 20px">
                                <!-- Campo CPF -->
                                <div class="field col-12 md:col-2">
                                    <span class="p-float-label float-label-fixed">
                                        
                                        <input id="resultado-cpf" type="text" pinputtext="" class="p-inputtext p-component p-element"
                                            [ngClass]="{ 'p-filled': !editMode }"
                                            [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                                            mask='000.000.000-00' [(ngModel)]="resultado.CPF" name="CPF" [readonly]="!editMode">
                                            <label for="resultado-cpf">CPF</label>
                                    </span>
                                </div>
                
                                <!-- Campo Nome -->
                                <div class="field col-12 md:col-4">
                                    <span class="p-float-label float-label-fixed">
                                        
                                        <input id="resultado-nome" type="text" pinputtext="" class="p-inputtext p-component p-element"
                                            [ngClass]="{ 'p-filled': !editMode }"
                                            [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                                            [(ngModel)]="resultado.NOME" name="Nome" [readonly]="!editMode">
                                            <label for="resultado-nome">Nome</label>
                                    </span>
                                </div> 
                
                                <!-- Campo E-mail -->
                                <div class="field col-12 md:col-4">
                                    <span class="p-float-label float-label-fixed">
                                        
                                        <input id="resultado-email" type="text" pinputtext="" class="p-inputtext p-component p-element"
                                            [ngClass]="{ 'p-filled': !editMode }"
                                            [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                                            [(ngModel)]="resultado.EMAIL" name="E-mail" [readonly]="!editMode">
                                            <label for="resultado-email">E-mail</label>
                                    </span>
                                </div>


                                <div class="field col-12 md:col-2">
                                    <span class="p-float-label float-label-fixed">
                                        <!-- Campo de entrada que aparece somente quando editMode é falso -->
                                        <input
                                            *ngIf="!editMode"
                                            id="resultado-TIPO_USER"
                                            type="text"
                                            pinputtext=""
                                            class="p-inputtext p-component p-element"
                                            [ngClass]="{ 'p-filled': true }"
                                            [style.backgroundColor]="'lightgray'"
                                            [value]="getTipoUserNome(resultado.TIPO_USER)"
                                            readonly>  <!-- Campo somente leitura -->
                                        <label for="resultado-TIPO_USER">Tipo Usuário</label>
                                    </span>
                                
                                    <!-- Dropdown que aparece somente quando editMode é verdadeiro -->
                                    <p-dropdown
                                        *ngIf="editMode"
                                        id="TIPO_USER-dropdown"
                                        [options]="TIPO_USER"
                                        [(ngModel)]="resultado.TIPO_USER"
                                        optionLabel="nome"
                                        optionValue="codigo"
                                        placeholder="Selecione"
                                        (onChange)="TIPO_USER_nome = getTipoUserNome(resultado.TIPO_USER)">
                                    </p-dropdown>
                                </div>
                
                                <!-- Campo Senha -->
                                <div class="field col-12 md:col-2">
                                  <span class="p-float-label float-label-fixed">
                                      <input id="resultado-senha" type="password" pinputtext="" class="p-inputtext p-component p-element"
                                          [ngClass]="{ 'p-filled': !editMode }"
                                          [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                                          [(ngModel)]="senhaEditada" name="Senha" [readonly]="!editMode"
                                          [value]="editMode ? senhaEditada : '********'">
                                      <label for="resultado-senha">Senha</label>
                                  </span>
                              </div>
                
                                <!-- Botões Editar, Salvar e Excluir -->
                                <div class="btn-group field col-12 md:col-2 flex flex-wrap gap-3" role="group" aria-label="Edit group">
                                    <label for=""></label>
                                    <p-button *ngIf="!editMode" icon="pi pi-pencil" severity="info" (click)="editarUsuario(resultado.CPF)"></p-button>
                                    <p-button *ngIf="editMode" icon="pi pi-save" severity="success" (click)="salvarUsuario()"></p-button>
                                    <p-button *ngIf="editMode" icon="pi pi-times" severity="warning" (click)="cancelarEdicao()"></p-button>
                                    <p-button *ngIf="!editMode" icon="pi pi-trash" severity="danger" (click)="confirmarExclusao()"></p-button>
                                </div>
                            </div>
                        </p-tabPanel>

                        <p-tabPanel>
                            <ng-template pTemplate="header">
                              <div class="custom-tab-header">
                                Empresas Vinculadas
                              </div>
                            </ng-template>
                            <div class="p-fluid p-formgrid grid" style="margin-top: 20px">
                              <!-- Tabela de empresas vinculadas -->
                              <div class="col-12">
                                <p-table
                                  [value]="empresasVinculadas"
                                  [paginator]="true"
                                  [rows]="5"
                                  [tableStyle]="{ 'min-width': '50rem' }"
                                  [rowsPerPageOptions]="[5, 10, 20]"
                                >
                                <ng-template pTemplate="header">
                                  <tr>
                                    <th>CNPJ</th>
                                    <th>IM</th>
                                    <th>RAZÃO SOCIAL</th>
                                    <th>Permissão</th>
                                    <th>Status</th>
                                    <th>
                                      <p-button 
                                        icon="pi pi-plus" 
                                        class="p-button-success"
                                        (click)="abrirDialogo()"
                                      ></p-button>
                                    </th>
                                  </tr>
                                </ng-template>
                                  <ng-template pTemplate="body" let-empresa>
                                    <tr>
                                      <td>{{ empresa.CNPJ | mask:'00.000.000/0000-00' }}</td>
                                      <td>{{ empresa.IM }}</td>
                                      <td>{{ empresa.NOME }}</td>
                                      <td *ngIf="editMode && CNPJ === empresa.CNPJ">
                                        <p-dropdown
                                          [(ngModel)]="COD_PERMISSAO"
                                          [options]="permissoes"
                                          optionLabel="nome"
                                          optionValue="codigo"
                                          placeholder="Selecione uma permissão"
                                        ></p-dropdown>
                                      </td>
                                      <td *ngIf="editMode && CNPJ === empresa.CNPJ">
                                        <p-dropdown
                                          [(ngModel)]="USER_STATUS"
                                          [options]="[
                                            { label: 'Ativo', value: '1' },
                                            { label: 'Inativo', value: '0' }
                                          ]"
                                          placeholder="Selecione o status"
                                        ></p-dropdown>
                                      </td>
                                      <td *ngIf="!editMode || CNPJ !== empresa.CNPJ">
                                        {{ getPermissaoNome(empresa.COD_PERMISSAO) }}
                                      </td>
                                      <td *ngIf="!editMode || CNPJ !== empresa.CNPJ">
                                        {{ empresa.USER_STATUS === '1' ? 'Ativo' : 'Inativo' }}
                                      </td>
                                      <td>
                                        <div class="btn-group flex flex-row gap-2" role="group" aria-label="Actions group">
                                          <!-- Botão Editar -->
                                          <p-button
                                            *ngIf="!editMode || CNPJ !== empresa.CNPJ"
                                            icon="pi pi-pencil"
                                            severity="info"
                                            (click)="abrirEdicaoVinculo(empresa)"
                                          ></p-button>
                                        
                                          <!-- Botão Salvar -->
                                          <p-button
                                            *ngIf="editMode && CNPJ === empresa.CNPJ"
                                            icon="pi pi-save"
                                            severity="success"
                                            (click)="salvarEdicaoVinculo()"
                                          ></p-button>
                                        
                                          <!-- Botão Cancelar -->
                                          <p-button
                                            *ngIf="editMode && CNPJ === empresa.CNPJ"
                                            icon="pi pi-times"
                                            severity="danger"
                                            (click)="cancelarEdicaoVinculo()"
                                          ></p-button>
                                        
                                          <!-- Botão Excluir -->
                                          <p-button
                                            *ngIf="!editMode || CNPJ !== empresa.CNPJ"
                                            icon="pi pi-trash"
                                            severity="danger"
                                            (click)="confirmarExclusaoVinculo(empresa.CNPJ)"
                                          ></p-button>
                                        </div>
                                      </td>
                                    </tr>
                                    <p-dialog 
                                    [(visible)]="showForm" 
                                    header="" 
                                    [modal]="true" 
                                    [style]="{ width: '50vw', height: '50vh' }" 
                                    [closable]="true"
                                    (onHide)="fecharDialogo()">

                                <div class="custom-tab-header" style="margin-bottom: 50px;">
                                 ADICIONAR NOVO VÍNCULO
                                </div>
                               
                                <div class="p-fluid p-formgrid grid">
                                  <!-- Campo CNPJ -->
                                  <div class="field col-12 md:col-4">
                                    <span class="p-float-label float-label-fixed">
                                      <input
                                        id="cnpj-input"
                                        type="text"
                                        pinputtext=""
                                        class="p-inputtext p-component p-element"
                                        mask="00.000.000/0000-00"
                                        [(ngModel)]="CNPJ"
                                        name="cnpj"
                                      />
                                      <label for="cnpj-input">CNPJ</label>
                                    </span>
                                  </div>
                              
                                  <!-- Campo Permissão -->
                                  <div class="field col-12 md:col-4">
                                    <span class="p-float-label float-label-fixed">
                                      <p-dropdown
                                        id="cod-permissao-dropdown"
                                        [(ngModel)]="COD_PERMISSAO" 
                                        [options]="permissoes" 
                                        optionLabel="nome" 
                                        optionValue="codigo"
                                        placeholder="Selecione uma permissão"
                                        name="codPermissao"
                                      ></p-dropdown>
                                      <label for="cod-permissao-dropdown">Código de Permissão</label>
                                    </span>
                                  </div>
                              
                                  <!-- Campo Status -->
                                  <div class="field col-12 md:col-2">
                                    <span class="p-float-label float-label-fixed">
                                      <p-dropdown
                                        [(ngModel)]="USER_STATUS"
                                        [options]="[
                                          { label: 'Ativo', value: '1' },
                                          { label: 'Inativo', value: '0' }
                                        ]"
                                        name="USER_STATUS"
                                      ></p-dropdown>
                                      <label for="user-status">Status</label>
                                    </span>
                                  </div>

                                  <div class="btn-group field col-12 md:col-1 flex flex-row gap-3" role="group" aria-label="Third group">
                                    <!-- Botão Salvar -->
                                    <p-button 
                                      icon="pi pi-save"
                                      severity="success"
                                      class="p-button-primary"
                                      (click)="adicionarVinculo()"
                                    ></p-button>
                                    <!-- Botão Cancelar -->
                                    <p-button 
                                      icon="pi pi-times" 
                                      severity="danger" 
                                      class="p-button-danger" 
                                      (click)="fecharDialogo()"
                                    ></p-button>
                                  </div>
                                </div>
                              
                                
                              </p-dialog>
                                  </ng-template>
                                </p-table>
                              </div>
                          </div>
                          
                        </p-tabPanel>
                    </p-tabView>
        </div>
                                
    </div>
  </div>
  