<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
<div class="grid" *ngIf="novoUsuario">
    <div class="col-12">
        <div *ngIf="!resultado" class="p-inputtext p-component p-element">


    <!-- Formulário de consulta CPF e nome -->
    <h3 class="text-center" [ngStyle]="{backgroundColor:'var(--cyan-800)', color: 'var(--primary-color-text)', borderRadius: 'var(--border-radius)'}">
        CONSULTAR USUÁRIO
    </h3>
    <form (ngSubmit)="buscarUsuario()"> <!-- Envolva tudo no formulário -->
        <div class="p-fluid p-formgrid grid" style="margin-top: 20px">
            <!-- Campo de CPF -->
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input id="cpf-input" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" 
                           mask="000.000.000-00" [(ngModel)]="cpf" name="CPF" (keydown.enter)="buscarUsuario()">
                    <label for="cpf-input">CPF</label>
                </span>
            </div>
    
            <!-- Campo de Nome -->
            <div class="field col-12 md:col-7">
                <span class="p-float-label">
                    <input id="nome-input" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" 
                           [(ngModel)]="nome" name="NOME" (keydown.enter)="buscarUsuario()">
                    <label for="nome-input">Nome</label>
                </span>
            </div>
    
            <!-- Botão de busca -->
            <div class="btn-group field col-12 md:col-1 flex flex-wrap gap-3" role="group" aria-label="Third group">
                <p-button icon="pi pi-search" severity="success" (click)="buscarUsuario()"></p-button>
            </div>
        </div>
    </form>
        </div>

        <div *ngIf="usuariosEncontrados.length > 0" class="p-inputtext p-component p-element" style="margin-top: 20px;">
            <h3 class="text-center" [ngStyle]="{backgroundColor:'var(--cyan-800)', color: 'var(--primary-color-text)', borderRadius: 'var(--border-radius)'}">
                SELECIONAR USUÁRIO
            </h3>
            <p-table
                [value]="usuariosEncontrados"
                [paginator]="true"
                [rows]="5"
                [tableStyle]="{ 'min-width': '50rem' }"
                [rowsPerPageOptions]="[5, 10, 20]"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th class="field col-12 md:col-4">CPF</th> <!-- Usando grid aqui -->
                        <th class="field col-12 md:col-7">Nome</th> <!-- Ajustando com 'md:col-x' -->
                        <th class="field col-12 md:col-1">Ação</th> <!-- Coluna menor para ação -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usuario>
                    <tr>
                        <td>{{ usuario.CPF | mask: '000.000.000-00' }}</td>
                        <td>{{ usuario.NOME }}</td>
                        <td>
                            <p-button icon="pi pi-check" severity="success" (click)="selecionarUsuario(usuario)"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div *ngIf="resultado" class="p-inputtext p-component p-element">
            <h3 class="text-center" [ngStyle]="{backgroundColor:'var(--cyan-800)', color: 'var(--primary-color-text)', borderRadius: 'var(--border-radius)'}"> DADOS PRELIMINARES</h3>
            <div class="p-fluid p-formgrid grid" style="margin-top: 20px">
                <!-- Campo CPF -->
                <div class="field col-12 md:col-4">
                    <span class="p-float-label float-label-fixed">
                        
                        <input id="resultado-cpf" type="text" pinputtext="" class="p-inputtext p-component p-element"
                               [ngClass]="{ 'p-filled': !editMode }"
                               [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                               mask='000.000.000-00' [(ngModel)]="resultado.CPF" name="CPF" [readonly]="!editMode">
                               <label for="resultado-cpf">CPF</label>
                    </span>
                </div>
  
                <!-- Campo Nome -->
                <div class="field col-12 md:col-8">
                    <span class="p-float-label float-label-fixed">
                        
                        <input id="resultado-nome" type="text" pinputtext="" class="p-inputtext p-component p-element"
                               [ngClass]="{ 'p-filled': !editMode }"
                               [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                               [(ngModel)]="resultado.NOME" name="Nome" [readonly]="!editMode">
                               <label for="resultado-nome">Nome</label>
                    </span>
                </div>
  
                <!-- Campo E-mail -->
                <div class="field col-12 md:col-4">
                    <span class="p-float-label float-label-fixed">
                        
                        <input id="resultado-email" type="text" pinputtext="" class="p-inputtext p-component p-element"
                               [ngClass]="{ 'p-filled': !editMode }"
                               [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                               [(ngModel)]="resultado.EMAIL" name="E-mail" [readonly]="!editMode">
                               <label for="resultado-email">E-mail</label>
                    </span>
                </div>
  
                <!-- Campo Permissão -->
                <div class="field col-12 md:col-2">
                    <span class="p-float-label float-label-fixed">
                        <!-- Campo de entrada que aparece somente quando editMode é falso -->
                        <input
                            *ngIf="!editMode"
                            id="resultado-permissao"
                            type="text"
                            pinputtext=""
                            class="p-inputtext p-component p-element"
                            [ngClass]="{ 'p-filled': true }"
                            [style.backgroundColor]="'lightgray'"
                            [value]="getPermissaoNome(resultado.COD_PERMISSAO)"
                            readonly>  <!-- Campo somente leitura -->
                        <label for="resultado-permissao">Permissão</label>
                    </span>
                
                    <!-- Dropdown que aparece somente quando editMode é verdadeiro -->
                    <p-dropdown
                        *ngIf="editMode"
                        id="permissao-dropdown"
                        [options]="permissoes"
                        [(ngModel)]="resultado.COD_PERMISSAO"
                        optionLabel="nome"
                        optionValue="codigo"
                        placeholder="Selecione uma permissão"
                        (onChange)="nomePermissao = getPermissaoNome(resultado.COD_PERMISSAO)">
                    </p-dropdown>
                </div>
  
                <!-- Campo Senha -->
                <div class="field col-12 md:col-2">
                    <span class="p-float-label float-label-fixed">
                       
                        <input id="resultado-senha" type="password" pinputtext="" class="p-inputtext p-component p-element"
                               [ngClass]="{ 'p-filled': !editMode }"
                               [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                               [(ngModel)]="resultado.SENHA" name="Senha" [readonly]="!editMode">
                               <label for="resultado-senha">Senha</label>
                    </span>
                </div>
  
                <!-- Campo ATIVO -->
                <div class="field col-12 md:col-2">
                    <span class="p-float-label float-label-fixed">
                        <!-- Campo de entrada que aparece somente quando editMode é falso -->
                        <input
                            *ngIf="!editMode"
                            id="resultado-user_sis"
                            type="text"
                            pinputtext=""
                            class="p-inputtext p-component p-element"
                            [ngClass]="{ 'p-filled': true }"
                            [style.backgroundColor]="'lightgray'"
                            [value]="getUserSisNome(resultado.USER_SIS)"
                            readonly>  <!-- Campo somente leitura -->
                        <label for="resultado-user_sis">Status</label>
                    </span>
                
                    <!-- Dropdown que aparece somente quando editMode é verdadeiro -->
                    <p-dropdown
                        *ngIf="editMode"
                        id="user-sis-dropdown"
                        [options]="USER_SIS"
                        [(ngModel)]="resultado.USER_SIS"
                        optionLabel="nome"
                        optionValue="codigo"
                        placeholder="Selecione"
                        (onChange)="user_sis_nome = getUserSisNome(resultado.USER_SIS)">
                    </p-dropdown>
                </div>
  
                <!-- Botões Editar, Salvar e Excluir -->
                <div class="btn-group field col-12 md:col-2 flex flex-wrap gap-3" role="group" aria-label="Edit group">
                    <label for=""></label>
                    <p-button *ngIf="!editMode" icon="pi pi-pencil" severity="info" (click)="editarUsuario(resultado.CPF)"></p-button>
                    <p-button *ngIf="editMode" icon="pi pi-save" severity="success" (click)="salvarUsuario()"></p-button>
                    <p-button icon="pi pi-trash" severity="danger" (click)="confirmarExclusao()"></p-button>
                </div>
            </div>
        </div>

    </div>
  </div>
  