<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>

<!-- Container principal -->
<div class="grid">
  <div class="col-12">
    <!-- Exibe o formulário de busca se não houver resultados -->
    <div *ngIf="!resultado && pessoasEncontrados.length === 0" class="p-inputtext p-component p-element">
      <h3 class="text-center" [ngStyle]="{backgroundColor:'var(--cyan-800)', color: 'var(--primary-color-text)', borderRadius: 'var(--border-radius)'}">
        CONSULTAR CLIENTE
      </h3>
      <form (ngSubmit)="buscarpessoas()">
        <div class="p-fluid p-formgrid grid" style="margin-top: 20px">
          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <input
                id="CPF_CNPJ-input"
                type="text"
                pinputtext=""
                class="p-inputtext p-component p-element p-filled"
                mask='000.000.000-00 || 00.000.000/0000-00'
                [(ngModel)]="CPF_CNPJ"
                name="CPF_CNPJ"
                (keydown.enter)="buscarpessoas()"
              />
              <label for="CPF_CNPJ-input">CPF / CNPJ</label>
            </span>
          </div>
          

          <div class="field col-12 md:col-7">
            <span class="p-float-label">
              <input
                id="nome-input"
                type="text"
                pinputtext=""
                class="p-inputtext p-component p-element p-filled"
                [(ngModel)]="nome"
                name="NOME"
                (keydown.enter)="buscarpessoas()"
              />
              <label for="nome-input">Nome</label>
            </span>
          </div>

          <div class="btn-group field col-12 md:col-1 flex flex-wrap gap-3" role="group" aria-label="Third group">
            <p-button icon="pi pi-search" severity="success" (click)="buscarpessoas()"></p-button>
          </div>
        </div>
      </form>
    </div>

    <!-- Exibe a tabela de resultados se houver registros encontrados -->
    <div *ngIf="pessoasEncontrados.length > 0" class="p-inputtext p-component p-element" style="margin-top: 20px;">
      <h3 class="text-center" [ngStyle]="{backgroundColor:'var(--cyan-800)', color: 'var(--primary-color-text)', borderRadius: 'var(--border-radius)'}">
        SELECIONAR CLIENTE
      </h3>
      <p-table
        [value]="pessoasEncontrados"
        [paginator]="true"
        [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[5, 10, 20]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>CPF / CNPJ</th>
            <th>Nome</th>
            <th>Selecionar</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td>{{ pessoa.CPF_CNPJ | mask: pessoa.CPF_CNPJ.length <= 11 ? '000.000.000-00' : '00.000.000/0000-00' }}</td>
            <td>{{ pessoa.NOME }}</td>
            <td>
              <p-button icon="pi pi-check" severity="success" (click)="selecionarpessoas(pessoa)"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- Exibe os detalhes da pessoa selecionada -->
    <div *ngIf="resultado" class="p-inputtext p-component p-element">
      <h3 class="text-center" [ngStyle]="{backgroundColor:'var(--cyan-800)', color: 'var(--primary-color-text)', borderRadius: 'var(--border-radius)'}">
          DADOS PRELIMINARES
      </h3>
  
       
              <div class="p-fluid p-formgrid grid" style="margin-top: 20px">
                  <!-- CPF -->
                  <div class="field col-12 md:col-3">
                      <span class="p-float-label float-label-fixed">
                          <input id="resultado-CPF_CNPJ" type="text" pinputtext class="p-inputtext p-component p-element"
                              [ngClass]="{ 'p-filled': !editMode }"
                              [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                              mask='000.000.000-00 || 00.000.000/0000-00' [(ngModel)]="resultado.CPF_CNPJ" name="CPF_CNPJ" [readonly]="!editMode">
                          <label for="resultado-CPF_CNPJ">CPF / CNPJ</label>
                      </span>
                  </div>

                  <div class="field col-12 md:col-3">
                      <span class="p-float-label float-label-fixed">
                          <input id="resultado-IM" type="text" pinputtext class="p-inputtext p-component p-element"
                              [ngClass]="{ 'p-filled': !editMode }"
                              [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                              [(ngModel)]="resultado.IM" name="IM" [readonly]="!editMode">
                          <label for="resultado-IM">INSCRIÇÃO MUNICIPAL</label>
                      </span>
                  </div>
  
                  <!-- Nome -->
                  <div class="field col-12 md:col-6">
                      <span class="p-float-label float-label-fixed">
                          <input id="resultado-nome" type="text" pinputtext class="p-inputtext p-component p-element"
                              [ngClass]="{ 'p-filled': !editMode }"
                              [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                              [(ngModel)]="resultado.NOME" name="Nome" [readonly]="!editMode">
                          <label for="resultado-nome">Nome</label>
                      </span>
                  </div>
  
                  <!-- Email -->
                  <div class="field col-12 md:col-4">
                      <span class="p-float-label float-label-fixed">
                          <input id="resultado-email" type="text" pinputtext class="p-inputtext p-component p-element"
                              [ngClass]="{ 'p-filled': !editMode }"
                              [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                              [(ngModel)]="resultado.EMAIL" name="E-mail" [readonly]="!editMode">
                          <label for="resultado-email">E-mail</label>
                      </span>
                  </div>
  
                  <!-- DDD -->
                  <div class="field col-12 md:col-1">
                      <span class="p-float-label float-label-fixed">
                          <input id="resultado-ddd" type="text" mask="00" pinputtext class="p-inputtext p-component p-element"
                              [ngClass]="{ 'p-filled': !editMode }"
                              [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                              [(ngModel)]="resultado.DDD" name="DDD" [readonly]="!editMode">
                          <label for="resultado-ddd">DDD</label>
                      </span>
                  </div>
  
                  <!-- Celular -->
                  <div class="field col-12 md:col-3">
                      <span class="p-float-label float-label-fixed">
                          <input id="resultado-celular" type="text" mask="0 0000-0000" pinputtext class="p-inputtext p-component p-element"
                              [ngClass]="{ 'p-filled': !editMode }"
                              [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                              [(ngModel)]="resultado.TELEFONE_CELULAR" name="Celular" [readonly]="!editMode">
                          <label for="resultado-celular">Celular</label>
                      </span>
                  </div>
              </div>
          <h3
          class="text-center"
          [ngStyle]="{
            backgroundColor: 'var(--cyan-800)',
            color: 'var(--primary-color-text)',
            borderRadius: 'var(--border-radius)'
          }"
        >
          ENDEREÇO
        </h3>
  
              <div class="p-fluid p-formgrid grid" style="margin-top: 20px">
                  <!-- CEP -->
                  <div class="field col-12 md:col-2">
                      <span class="p-float-label float-label-fixed">
                          <input id="resultado-CEP" type="text" mask="00000-000" pinputtext class="p-inputtext p-component p-element"
                              [ngClass]="{ 'p-filled': !editMode }"
                              [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                              [(ngModel)]="resultado.CEP" name="CEP" (blur)="buscarEnderecoPorCEP(resultado.CEP ?? '')" [readonly]="!editMode">
                          <label for="resultado-CEP">CEP</label>
                      </span>
                  </div>
  
                  <!-- Logradouro -->
                  <div class="field col-12 md:col-6">
                      <span class="p-float-label float-label-fixed">
                          <input id="resultado-logradouro" type="text" pinputtext class="p-inputtext p-component p-element"
                              [ngClass]="{ 'p-filled': !editMode }"
                              [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                              [(ngModel)]="resultado.RUA_LOGRADOURO" name="Logradouro" [readonly]="!editMode">
                          <label for="resultado-logradouro">Logradouro</label>
                      </span>
                  </div>
  
                  <!-- Número -->
                  <div class="field col-12 md:col-1">
                      <span class="p-float-label float-label-fixed">
                          <input id="resultado-numero" type="text" pinputtext class="p-inputtext p-component p-element"
                              [ngClass]="{ 'p-filled': !editMode }"
                              [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                              [(ngModel)]="resultado.NUMERO_LOGRADOURO" name="Numero" [readonly]="!editMode">
                          <label for="resultado-numero">Número</label>
                      </span>
                  </div>
  
                  <!-- Bairro -->
                  <div class="field col-12 md:col-3">
                      <span class="p-float-label float-label-fixed">
                          <input id="resultado-bairro" type="text" pinputtext class="p-inputtext p-component p-element"
                              [ngClass]="{ 'p-filled': !editMode }"
                              [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                              [(ngModel)]="resultado.BAIRRO_LOGRADOURO" name="Bairro" [readonly]="!editMode">
                          <label for="resultado-bairro">Bairro</label>
                      </span>
                  </div>

                  <div class="field col-12 md:col-3">
                    <span class="p-float-label float-label-fixed">
                        <input id="resultado-COMPLEMENTO" type="text" pinputtext class="p-inputtext p-component p-element"
                            [ngClass]="{ 'p-filled': !editMode }"
                            [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                            [(ngModel)]="resultado.COMPLEMENTO_LOGRADOURO" name="COMPLEMENTO" [readonly]="!editMode">
                        <label for="resultado-COMPLEMENTO">Complemento</label>
                    </span>
                </div>

                <div class="field col-12 md:col-3">
                  <span class="p-float-label float-label-fixed">
                      <input id="resultado-CIDADE" type="text" pinputtext class="p-inputtext p-component p-element"
                          [ngClass]="{ 'p-filled': !editMode }"
                          [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                          [(ngModel)]="resultado.CIDADE" name="CIDADE" [readonly]="!editMode">
                      <label for="resultado-CIDADE">Cidade</label>
                  </span>
              </div>

              <div class="field col-12 md:col-2">
                <span class="p-float-label float-label-fixed">
                    <input id="resultado-COD_IBGE" type="text" pinputtext class="p-inputtext p-component p-element"
                        [ngClass]="{ 'p-filled': !editMode }"
                        [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                        [(ngModel)]="resultado.COD_IBGE" name="COD_IBGE" [readonly]="!editMode">
                    <label for="resultado-COD_IBGE">Código IBGE</label>
                </span>
            </div>

            <div class="field col-12 md:col-1">
              <span class="p-float-label float-label-fixed">
                  <input id="resultado-UF" type="text" pinputtext class="p-inputtext p-component p-element"
                      [ngClass]="{ 'p-filled': !editMode }"
                      [style.backgroundColor]="editMode ? 'white' : 'lightgray'"
                      [(ngModel)]="resultado.UF" name="UF" [readonly]="!editMode">
                  <label for="resultado-UF">UF</label>
              </span>
          </div>
          <div class="btn-group field col-12 md:col-2 flex flex-wrap gap-3" role="group" aria-label="Edit group">
            <label for=""></label>
            <p-button *ngIf="!editMode" icon="pi pi-pencil" severity="info" (click)="editarPessoas(resultado.CPF_CNPJ)"></p-button>
            <p-button *ngIf="editMode" icon="pi pi-save" severity="success" (click)="salvarpessoas()"></p-button>
            <p-button *ngIf="editMode" icon="pi pi-times" severity="warning" (click)="cancelarEdicao()"></p-button>
            <p-button *ngIf="!editMode" icon="pi pi-trash" severity="danger" (click)="confirmarExclusao()"></p-button>
        </div>
       </div>
   </div>
  
  
</div>
</div>
