<div class="grid" *ngIf="novoUsuario">
    <div class="col-12">
      <div class="p-inputtext p-component p-element" >

        <h5 class="text-center" [ngStyle]="{backgroundColor:'var(--cyan-800)', color: 'var(--primary-color-text)', borderRadius: 'var(--border-radius)'}"> CONSULTAR USUÁRIO</h5>

    <div class="p-fluid p-formgrid grid" style="margin-top: 20px">
          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <input id="float-input" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" mask='000.000.000-00'[(ngModel)]="cpf" name="CPF">
              <label for="float-input">CPF</label>
            </span>
          </div>

          <div class="field col-12 md:col-7">
            <span class="p-float-label">
              <input id="float-input" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" [(ngModel)]="nome" name="NOME">
              <label for="float-input">Nome</label>
            </span>
          </div>

          <div class="btn-group field col-12 md:col-1 flex flex-wrap gap-3 justify-content-center" role="group" aria-label="Third group">
            <button type="button" class="btn btn-success" (click)="buscarPorCpf()">
                <i class="pi pi-search"></i> 
            </button>
          </div>
                
    </div>



      
  <div *ngIf="resultado">
          <h5 class="text-center" [ngStyle]="{backgroundColor:'var(--cyan-800)', color: 'var(--primary-color-text)', borderRadius: 'var(--border-radius)'}"> DADOS PRELIMINARES</h5>
  
        <div class="p-fluid p-formgrid grid" style="margin-top: 20px">
            <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <input id="resultado-cpf" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" mask='000.000.000-00' [(ngModel)]="resultado.CPF" name="CPF" readonly>
              <label for="resultado-cpf">CPF</label>
            </span>
          </div>


        <div class="field col-12 md:col-4">
          <span class="p-float-label">
            <input id="resultado-nome" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" [(ngModel)]="resultado.NOME" name="Nome" readonly>
            <label for="resultado-nome">Nome</label>
          </span>
        </div>
        
        <div class="field col-12 md:col-4">
          <span class="p-float-label">
            <input id="resultado-email" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" [(ngModel)]="resultado.EMAIL" name="E-mail" readonly>
            <label for="resultado-email">E-mail</label>
          </span>
        </div>
        
        <div class="field col-12 md:col-1">
          <span class="p-float-label">
            <input id="resultado-ddd" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" [(ngModel)]="resultado.DDD" name="DDD" readonly>
            <label for="resultado-ddd">DDD</label>
          </span>
        </div>
        
        <div class="field col-12 md:col-3">
          <span class="p-float-label">
            <input id="resultado-celular" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" [(ngModel)]="resultado.TELEFONE_CELULAR" name="Celular" readonly>
            <label for="resultado-celular">Celular</label>
          </span>
        </div>
        
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input id="resultado-dt_nascimento" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" mask='00/00/0000' [(ngModel)]="resultado.DT_NASCIMENTO" name="Data de Nascimento" readonly>
            <label for="resultado-dt_nascimento">Data de Nascimento</label>
          </span>
        </div>
        
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input id="resultado-permissao" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" [(ngModel)]="resultado.PERMISSAO" name="Permissão" readonly>
            <label for="resultado-permissao">Permissão</label>
          </span>
        </div>
        
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input id="resultado-profissao" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" [(ngModel)]="resultado.PROFISSAO" name="Profissão" readonly>
            <label for="resultado-profissao">Profissão</label>
          </span>
        </div>
        
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <input id="resultado-senha" type="password" pinputtext="" class="p-inputtext p-component p-element p-filled" [(ngModel)]="resultado.SENHA" name="Senha" readonly>
            <label for="resultado-senha">Senha</label>
          </span>
        </div>
      </div>
        
        <h5 class="text-center" [ngStyle]="{backgroundColor:'var(--cyan-800)', color: 'var(--primary-color-text)', borderRadius: 'var(--border-radius)'}"> ENDEREÇO</h5>
        
        <div class="p-fluid p-formgrid grid" style="margin-top: 20px">
          <div class="field col-12 md:col-2">
            <span class="p-float-label">
              <input id="resultado-cep" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" mask='00000-000' [(ngModel)]="resultado.CEP" name="CEP" readonly>
              <label for="resultado-cep">CEP</label>
            </span>
          </div>
        
          <div class="field col-12 md:col-6">
            <span class="p-float-label">
              <input id="resultado-rua_logradouro" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" [(ngModel)]="resultado.RUA_LOGRADOURO" name="Logradouro" readonly>
              <label for="resultado-rua_logradouro">Logradouro</label>
            </span>
          </div>
        
          <div class="field col-12 md:col-1">
            <span class="p-float-label">
              <input id="resultado-numero_logradouro" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" [(ngModel)]="resultado.NUMERO_LOGRADOURO" name="Número" readonly>
              <label for="resultado-numero_logradouro">Número</label>
            </span>
          </div>
        
          <div class="field col-12 md:col-3">
            <span class="p-float-label">
              <input id="resultado-bairro_logradouro" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" [(ngModel)]="resultado.BAIRRO_LOGRADOURO" name="Bairro" readonly>
              <label for="resultado-bairro_logradouro">Bairro</label>
            </span>
          </div>
        
          <div class="field col-12 md:col-3">
            <span class="p-float-label">
              <input id="resultado-complemento_logradouro" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" [(ngModel)]="resultado.COMPLEMENTO_LOGRADOURO" name="Complemento" readonly>
              <label for="resultado-complemento_logradouro">Complemento</label>
            </span>
          </div>
        

        <div class="field col-12 md:col-4">
          <span class="p-float-label">
            <input id="resultado-cidade" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" [(ngModel)]="resultado.CIDADE" name="Cidade" readonly>
            <label for="resultado-cidade">Cidade</label>
          </span>
        </div>
        
        <div class="field col-12 md:col-1">
          <span class="p-float-label">
            <input id="resultado-uf" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" [(ngModel)]="resultado.UF" name="UF" readonly>
            <label for="resultado-uf">UF</label>
          </span>
        </div>
        
        <div class="field col-12 md:col-1">
          <span class="p-float-label">
            <input id="resultado-user_sis" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" [(ngModel)]="resultado.USER_SIS" name="ATIVO" readonly>
            <label for="resultado-user_sis">ATIVO</label>
          </span>
        </div>

          <div class="btn-group field col-12 md:col-1 flex flex-wrap gap-3 justify-content-center" role="group" aria-label="Third group">
            <button type="button" class="btn btn-primary" (click)="editarUsuario">
                <i class="pi pi-pencil"></i> 
            </button>
          </div>
          <div class="btn-group field col-12 md:col-1 flex flex-wrap gap-3 justify-content-center" role="group" aria-label="Third group">
            <button type="button" class="btn btn-danger" (click)="excluirUsuario">
                <i class="pi pi-trash"></i> 
            </button>
          </div>
          <div class="btn-group field flex flex-wrap justify-content-center" role="group" aria-label="Third group">
            <button type="button" class="btn btn-success" style="height: 30px; font-size: 5px;" (click)="novoUsuario()">
              <i class="pi pi-check"></i> 
            </button>
          </div>
          
          
                  
        </div>
             
      </div>
    </div>
  </div>


