<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>

<!-- Container principal -->
<div class="grid">
  <div class="col-12">
    <!-- Exibe o formulário de busca se não houver resultados -->
    <div *ngIf="!resultado && pessoasEncontrados.length === 0" class="p-inputtext p-component p-element">
      <h3 class="text-center" [ngStyle]="{backgroundColor:'var(--cyan-800)', color: 'var(--primary-color-text)', borderRadius: 'var(--border-radius)'}">
        CONSULTAR PESSOA
      </h3>
      <form (ngSubmit)="buscarpessoas()">
        <div class="p-fluid p-formgrid grid" style="margin-top: 20px">
          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <input
                id="cpf-input"
                type="text"
                pinputtext=""
                class="p-inputtext p-component p-element p-filled"
                mask="000.000.000-00"
                [(ngModel)]="CPF"
                name="CPF"
                (keydown.enter)="buscarpessoas()"
              />
              <label for="cpf-input">CPF</label>
            </span>
          </div>

          <div class="field col-12 md:col-7">
            <span class="p-float-label">
              <input
                id="nome-input"
                type="text"
                pinputtext=""
                class="p-inputtext p-component p-element p-filled"
                [(ngModel)]="nome"
                name="NOME"
                (keydown.enter)="buscarpessoas()"
              />
              <label for="nome-input">Nome</label>
            </span>
          </div>

          <div class="btn-group field col-12 md:col-1 flex flex-wrap gap-3" role="group" aria-label="Third group">
            <p-button icon="pi pi-search" severity="success" (click)="buscarpessoas()"></p-button>
          </div>
        </div>
      </form>
    </div>

    <!-- Exibe a tabela de resultados se houver registros encontrados -->
    <div *ngIf="pessoasEncontrados.length > 0" class="p-inputtext p-component p-element" style="margin-top: 20px;">
      <h3 class="text-center" [ngStyle]="{backgroundColor:'var(--cyan-800)', color: 'var(--primary-color-text)', borderRadius: 'var(--border-radius)'}">
        SELECIONAR PESSOA
      </h3>
      <p-table
        [value]="pessoasEncontrados"
        [paginator]="true"
        [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[5, 10, 20]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>CPF</th>
            <th>Nome</th>
            <th>Ação</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td>{{ pessoa.CPF }}</td>
            <td>{{ pessoa.NOME }}</td>
            <td>
              <p-button icon="pi pi-check" severity="success" (click)="selecionarpessoas(pessoa)"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- Exibe os detalhes da pessoa selecionada -->
    <div *ngIf="resultado" class="p-inputtext p-component p-element">
      <h3 class="text-center" [ngStyle]="{backgroundColor:'var(--cyan-800)', color: 'var(--primary-color-text)', borderRadius: 'var(--border-radius)'}">
        DADOS PRELIMINARES
      </h3>
      <div class="p-fluid p-formgrid grid" style="margin-top: 20px">
        <div class="field col-12 md:col-3">
          <span class="p-float-label">
            <input
              id="cpf-cnpj-detalhes"
              type="text"
              pinputtext
              [(ngModel)]="resultado.CPF"
              name="CPF"
              [readonly]="!editMode"
            />
            <label for="cpf-cnpj-detalhes">CPF / CNPJ</label>
          </span>
        </div>

        <div class="field col-12 md:col-5">
          <span class="p-float-label">
            <input
              id="nome-detalhes"
              type="text"
              pinputtext
              [(ngModel)]="resultado.NOME"
              name="NOME"
              [readonly]="!editMode"
            />
            <label for="nome-detalhes">Nome</label>
          </span>
        </div>

        <div class="btn-group field col-12 md:col-2 flex flex-wrap gap-3" role="group">
          <p-button *ngIf="editMode" icon="pi pi-save" severity="success" (click)="salvarpessoas()"></p-button>
          <p-button icon="pi pi-trash" severity="danger" (click)="confirmarExclusao()"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
