<div class="grid" *ngIf="cnpj">
  <div class="col-12">
    <div class="p-inputtext p-component p-element">
      <h3
        class="text-center"
        [ngStyle]="{ backgroundColor: 'var(--cyan-800)', color: 'var(--primary-color-text)', borderRadius: 'var(--border-radius)' }"
      >
        COMANDAS EM ABERTO
      </h3>
      <p-toast></p-toast>

      <div class="comandas-container">
        <!-- Listagem das comandas em aberto -->
        <div *ngIf="comandasEmAberto && comandasEmAberto.length > 0">
          <h3>Comandas em Aberto</h3>
          <ul>
            <li *ngFor="let comanda of comandasEmAberto">
              <p><strong>Cliente:</strong> {{ comanda.CPF_CNPJ?.NOME || 'Nome não informado' }}</p>
              <p><strong>Data de Abertura:</strong> {{ comanda.DATA_INICIO | date:'dd/MM/yyyy HH:mm' }}</p>
              <p><strong>Status:</strong> Aberta</p>
            </li>
          </ul>
        </div>

        <!-- Caso não haja comandas em aberto -->
        <div *ngIf="comandasEmAberto && comandasEmAberto.length === 0">
          <p>Não há comandas em aberto.</p>
        </div>
      </div>
    </div>
  </div>
</div>
