<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
<div class="grid">
  <div class="col-12">
    <div class="p-inputtext p-component p-element">
      <div class="grid">
        <div class="col-12">
          <h3
            class="text-center"
            [ngStyle]="{
              backgroundColor: 'var(--cyan-800)',
              color: 'var(--primary-color-text)',
              borderRadius: 'var(--border-radius)'
            }"
          >
            SERVIÇOS
          </h3>

          <!-- Tabela de serviços -->
          <div>
            <p-table [value]="servicos" [paginator]="true" [rows]="5">
              <ng-template pTemplate="header">
                <tr>
                  <th>Descrição</th>
                  <th>Valor</th>
                  <th>CNAE</th>
                  <th>ITEM LC</th>
                  <th>ATIVIDADE DO MUNICÍPIO</th>
                  <th>Ações</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-servico>
                <tr>
                  <!-- Descrição -->
                  <td>
                    <input
                      *ngIf="servico.isEditing"
                      type="text"
                      [(ngModel)]="servico.DESC_SERVICO"
                      class="p-inputtext"
                    />
                    <span *ngIf="!servico.isEditing">
                      {{ servico.DESC_SERVICO }}
                    </span>
                  </td>
          
                  <!-- Valor -->
                  <td>
                    <input
                      *ngIf="servico.isEditing"
                      type="text"
                      [(ngModel)]="servico.VALOR"
                      class="p-inputtext"
                      (input)="formatCurrencyInput($event, servico)"
                    />
                    <span *ngIf="!servico.isEditing">
                      {{ formatCurrency(servico.VALOR) }}
                    </span>
                  </td>
                  
                  <!-- CNAE -->
                  <td>
                    <input
                      *ngIf="servico.isEditing"
                      type="text"
                      [(ngModel)]="servico.CNAE"
                      mask="0000-0/00"
                      class="p-inputtext"
                    />
                    <span *ngIf="!servico.isEditing">
                      {{ formatCNAE(servico.CNAE) }}
                    </span>
                  </td>
          
                  <!-- ITEM LC -->
                  <td>
                    <input
                      *ngIf="servico.isEditing"
                      type="text"
                      [(ngModel)]="servico.ITEM_LC"
                      mask="00.00"
                      class="p-inputtext"
                      maxlength="5"
                      (input)="formatItemLC(servico)"
                    />
                    <span *ngIf="!servico.isEditing">
                      {{ servico.ITEM_LC }}
                    </span>
                  </td>
          
                  <!-- ATIVIDADE DO MUNICÍPIO -->
                  <td>
                    <input
                      *ngIf="servico.isEditing"
                      type="text"
                      [(ngModel)]="servico.ATIVIDADE_MUNICIPIO"
                      class="p-inputtext"
                    />
                    <span *ngIf="!servico.isEditing">
                      {{ servico.ATIVIDADE_MUNICIPIO }}
                    </span>
                  </td>
          
                  <!-- Ações -->
                  <td>
                    <div class="flex gap-2">
                      <!-- Botões no modo de edição -->
                      <ng-container *ngIf="servico.isEditing; else normalMode">
                        <!-- Botão de salvar -->
                        <p-button
                          icon="pi pi-save"
                          severity="success"
                          (click)="saveServico(servico)"
                        ></p-button>
                  
                        <!-- Botão de cancelar edição -->
                        <p-button
                          icon="pi pi-times"
                          severity="warning"
                          (click)="cancelEditing(servico)"
                        ></p-button>
                      </ng-container>
                  
                      <!-- Botões no modo normal -->
                      <ng-template #normalMode>
                        <!-- Botão de editar -->
                        <p-button
                          icon="pi pi-pencil"
                          severity="info"
                          (click)="startEditing(servico)"
                        ></p-button>
                  
                        <!-- Botão de excluir -->
                        <p-button
                          icon="pi pi-trash"
                          severity="danger"
                          (click)="confirmarExclusaoServico(servico)"
                        ></p-button>
                      </ng-template>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
