<div class="grid" *ngIf="!cnpj">
  <div class="col-12">
    <div class="p-inputtext p-component p-element">
      <h3
        class="text-center"
        [ngStyle]="{
          backgroundColor: 'var(--cyan-800)',
          color: 'var(--primary-color-text)',
          borderRadius: 'var(--border-radius)'
        }"
      >
        COMANDAS INCLUIR
      </h3>
      <p-toast></p-toast>
      <div class="comandas-container">
        <h4 class="text-center">INFORMAR CPF/CNPJ DO CLIENTE?</h4>

        <!-- Botões para a escolha -->
        <div style="display: flex; justify-content: center;">
          <p-button label="SIM" [raised]="true" severity="success" (click)="openDialogCPF(true)" [ngStyle]="{'margin': '0 10px'}"></p-button>
          <p-button label="NÃO" [raised]="true" severity="warning" (click)="openDialogCPF(false)" [ngStyle]="{'margin': '0 10px'}"></p-button>
        </div>

        <!-- Exibir os diálogos conforme a escolha -->
        <p-dialog header="Informar CPF/CNPJ" [(visible)]="displayDialogCPF" [modal]="true" [closable]="false">
          <form (ngSubmit)="buscarpessoas()">
            <div class="p-fluid p-formgrid grid" style="margin-top: 20px">
              <div class="field col-12 md:col-4">
                <span class="p-float-label">
                  <input
                    id="CPF_CNPJ-input"
                    type="text"
                    pinputtext=""
                    class="p-inputtext p-component p-element p-filled"
                    mask='000.000.000-00 || 00.000.000/0000-00'
                    [(ngModel)]="CPF_CNPJ"
                    name="CPF_CNPJ"
                    (keydown.enter)="buscarClientePorCPF()"
                  />
                  <label for="CPF_CNPJ-input">CPF / CNPJ</label>
                </span>
              </div>
        
              <div class="field col-12 md:col-7">
                <span class="p-float-label">
                  <input
                    id="nome-input"
                    type="text"
                    pinputtext=""
                    class="p-inputtext p-component p-element p-filled"
                    [(ngModel)]="nome"
                    name="NOME"
                    (keydown.enter)="buscarClientePorCPF()"
                  />
                  <label for="nome-input">Nome</label>
                </span>
              </div>
        
              <div class="btn-group field col-12 md:col-1 flex flex-wrap gap-3" role="group" aria-label="Third group">
                <p-button icon="pi pi-search" severity="success" (click)="buscarClientePorCPF()"></p-button>
                <p-button icon="pi pi-times" severity="danger" (click)="cancelarBusca()" label="Cancelar" class="p-button-outlined"></p-button>
                <p-button icon="pi pi-check" severity="primary" (click)="selecionarCliente()" label="Selecionar Cliente"></p-button>
              </div>
            </div>
          </form>
        </p-dialog>

        <div></div>

        <p-dialog header="Informar Nome e Endereço" [(visible)]="displayDialogEndereco" [modal]="true" [closable]="false">
          <input pInputText [(ngModel)]="nomeCliente" placeholder="Nome do Cliente" />
          <input pInputText [(ngModel)]="enderecoCliente" placeholder="Endereço do Cliente" />
          <button pButton label="Salvar" (click)="salvarEndereco()" class="p-mr-2"></button>
        </p-dialog>
      </div>
    </div>
  </div>
</div>
