<div class="grid" *ngIf="novaEmpresa">
    <div class="col-12">
      <div class="p-inputtext p-component p-element" >

        <h3 class="text-center" [ngStyle]="{backgroundColor:'var(--cyan-800)', color: 'var(--primary-color-text)', borderRadius: 'var(--border-radius)'}">INCLUIR EMPRESA</h3>
        <p-toast></p-toast>
       <div class="p-fluid p-formgrid grid" style="margin-top: 20px">
          <div class="field col-12 md:col-2">
            <span class="p-float-label float-label-fixed">
              <input id="float-input" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" mask='00.000.000/0000-00'[(ngModel)]="novaEmpresa.CNPJ" name="CNPJ">
              <label for="float-input">CNPJ</label>
            </span>
          </div>

          <div class="field col-12 md:col-2">
            <span class="p-float-label float-label-fixed">
              <input id="float-input" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" [(ngModel)]="novaEmpresa.IM" name="IM">
              <label for="float-input">IM</label>
            </span>
          </div>

          <div class="field col-12 md:col-5">
            <span class="p-float-label float-label-fixed">
              <input id="float-input" type="text" pinputtext="" class="p-inputtext p-component p-element p-filled" [(ngModel)]="novaEmpresa.NOME" name="NOME">
              <label for="float-input">RAZÃO SOCIAL</label>
            </span>
          </div>

        <div class="field col-12 md:col-2">
            <span class="p-float-label float-label-fixed">
              <p-dropdown id="float-input" [ngStyle]="{'padding': '0px'}" [(ngModel)]="novaEmpresa.OPTANTE_SN" name="OPTANTE_SN" [options]="OPTANTE_SN" optionLabel="nome" optionValue="codigo"></p-dropdown>
              <label for="float-input">SIMPLES NACIONAL</label>
            </span>
          </div>

          <div class="field col-12 md:col-2">
            <span class="p-float-label float-label-fixed">
              <p-dropdown id="float-input" [ngStyle]="{'padding': '0px'}" [(ngModel)]="novaEmpresa.OPTANTE_MEI" name="OPTANTE_MEI" [options]="OPTANTE_MEI" optionLabel="nome" optionValue="codigo"></p-dropdown>
              <label for="float-input">MEI</label>
            </span>
          </div>

          <div class="field col-12 md:col-3">
            <span class="p-float-label float-label-fixed">
              <p-dropdown 
                id="float-input" 
                [ngStyle]="{'padding': '0px'}" 
                [(ngModel)]="novaEmpresa.AMBIENTE_INTEGRACAO_ID" 
                name="AMBIENTE_INTEGRACAO_ID" 
                [options]="AMBIENTE_INTEGRACAO_ID" 
                optionLabel="nome" 
                optionValue="codigo"
                placeholder="Selecione o ambiente">
                <ng-template let-item pTemplate="item">
                  <div>
                    <div>{{item.nome}}</div>
                    <small *ngIf="item.ambiente" class="text-sm text-color-secondary">
                      {{item.ambiente}}
                    </small>
                  </div>
                </ng-template>
              </p-dropdown>
              <label for="float-input">AMBIENTE INTEGRAÇÃO</label>
            </span>
          </div>
          
          <div class="field col-12 md:col-2">
            <span class="p-float-label float-label-fixed">
              <p-fileUpload name="certificado" 
                           (onSelect)="onCertificadoSelecionado($event)"
                           [multiple]="false"
                           accept=".pfx,.p12"
                           maxFileSize="1000000"
                           mode="basic"
                           chooseLabel="Buscar Certificad."
                           chooseIcon="pi pi-search"
                           styleClass="p-button p-button-info">
              </p-fileUpload>
              <label>CERTIFICADO DIGITAL</label>
            </span>
          </div>


          <div class="field col-12 md:col-2">
            <span class="p-float-label float-label-fixed">
              <input id="float-input" type="password" pinputtext="" class="p-inputtext p-component p-element p-filled"  [(ngModel)]="senhaCertificado" name="senhaCertificado" >
              <label for="float-input">SENHA DO CERTIFICADO</label>
            </span>
          </div>

      
                <div class="field col-12 md:col-1">
          <p-button label="" icon="pi pi-save" severity="success" 
                   (click)="adicionarEmpresa()"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>