<div class="mat-typography">
    <div class="px-5 min-h-screen flex justify-content-center align-items-center">
        <div class="border-1 surface-border surface-card border-round py-7 px-4 md:px-7 z-1">
            <div class="mb-4">
                <div class="text-900 text-xl font-bold mb-2 text-center">Log in</div>
            </div>
            <div class="flex flex-column">
                <!-- Exibir mensagem de erro ou sucesso -->
                <div class="mensagem" [ngClass]="{ 'success': isLoginSucesso, 'error': !isLoginSucesso }" *ngIf="exibirMensagem">
                    {{ mensagem }}
                </div>
                
                <span class="p-input-icon-left w-full mb-4">
                    <i class="pi pi-pencil"></i>
                    <input id="email" type="text" pinputtext="" placeholder="CPF" class="p-inputtext p-component p-element w-full md:w-25rem" mask="000.000.000-00" [(ngModel)]="credentials.CPF" (input)="onCPFInputChange($event)" (keydown.enter)="onLogin()" />
                </span>
                <span class="p-input-icon-left w-full mb-4">
                    <i class="pi pi-lock"></i>
                    <input id="password" type="password" pinputtext="" placeholder="SENHA" class="p-inputtext p-component p-element w-full md:w-25rem" [(ngModel)]="credentials.SENHA" (input)="onPasswordInputChange($event)" (keydown.enter)="onLogin()" />
                </span>
                <div class="mb-4 flex flex-wrap gap-3 text-center">
                    <a class="text-600 cursor-pointer">Esqueceu sua Senha?</a>
                </div>
                <button pbutton="" pripple="" label="Log In" class="p-element w-full p-button p-component" tabindex="0" (click)="onLogin()">
                    <span class="p-button-label">Log In</span>
                </button>
            </div>
        </div>
    </div>
    <div>
        <div class="background-overlay"></div>
    </div>
</div>
